.colordle {
    justify-content: center;
}
.guess-board{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    color: lightslategrey;
}
.color-display{
    /* max-width: 50px; */
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
button{
    margin-left: 5px;
}

.Color-wheel{
    height: calc(10px + 4vmin);
    width: calc(10px + 4vmin);
    pointer-events: none;
    border: 2rem;
  }

@media (prefers-reduced-motion: no-preference) {
    .Color-wheel {
        animation: Color-wheel-spin infinite 20s linear;
    }
}

@keyframes Color-wheel-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

