.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Color-wheel{
  height: calc(10px + 4vmin);
  width: calc(10px + 4vmin);
  pointer-events: none;
  border: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  .Color-wheel {
    animation: Color-wheel-spin infinite 20s linear;
  }
}

@keyframes Color-wheel-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
